<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
>
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.3.2/css/bootstrap.min.css">
</head>
<body>

<div layout:fragment="content">
    <div class="p-3">
        <div class="card">
            <div class="card-body">
              <ul class="list-group">
                  <div class="d-grid">
                      <li th:each="url:${urls}" class="list-group-item">
                          <a th:text="${url.getKey()}" th:href="${url.getValue()}" class="btn btn-outline-info"></a>
                      </li>
                  </div>

              </ul>
            </div>
        </div>
    </div>


</div>

</body>
</html>